section{
    width: 100%;
    background-color: var(--theme-background);
    
    .divSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 600px;
        margin: 0 auto;
        margin-top: 100px;

        @media (max-width: 375px) {
            flex-direction: column;
            gap: 30px;
        }

        @media (max-width: 375px) {
            flex-direction: column;
            gap: 30px;
          }
          
          @media (max-width: 425px) {
            flex-direction: column;
            gap: 30px;
          }
          
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
          }
    
        .DivMe{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            #paragraphy{
                color: var(--theme-text);

                @media (max-width: 375px) {
                    margin-top: 60px;
                }

                @media (max-width: 425px) {
                    margin-top: 60px;
                }

                @media (max-width: 768px) {
                    margin-top: 60px;
                }
            }

            #title1{
                color: var(--LightCyan);
            }

            h4{
                color: var(--theme-text);
            }
            
            .divButtons{
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 20px;

                #buttonCV {
                    color: var(--White-write);
                    background: linear-gradient(-1855deg, var(--StrongCyan), var(--LightCyan));
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }

                #buttonContato{
                    color: var(--theme-text);
                    background: var(--theme-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }
        }
        
        img {
            width: 280px;
            height: 320px;
            border-radius: 40%;
            margin-top: 2rem;
        }
    }

    @media (max-width: 320px) {
        .divSection {
          flex-direction: column; 
          align-items: center;
          margin-top: 200px;

          .DivMe{
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 70%;

            .divButtons{
                flex-direction: column;
            }
          }
        }
    
        img {
          width: 320px;
          height: 360px;
        }
        }
}   