section{
    width: 100%;

    .divSection{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    
        .DivMe{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            #paragraphy{
                color: var(--StrongText);
                font-family: var(--heading-font);
                font-size: 19px;
                font-weight: 400;
            }

            h1{
                color: #121816;
                font-family: var(--heading-font);
                font-size: 40px;
                font-weight: 600;
                border-bottom: 4px solid #121816;
            }

            h2{
                color: #121816;
                font-family: var(--heading-font);
                font-size: 32px;
                font-weight: 500;
            }
            
            .divButtons{
                display: flex;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 20px;

                .button {
                    width: 165px;
                    height: 40px;
                    border: none;
                    border-radius: 2px;
                    background-color: var(--LightCyans);
                }

                .Contato{
                    width: 165px;
                    height: 40px;
                    background-color: var(--LightCyan);
                    border: 2px solid #121816;
                    border-radius: 2px;
                }
            }
        }
        
        img {
            width: 280px;
            height: 320px;
            border-radius: 5px;
            margin-top: 2rem;
        }
    }
}

