.buttonCV{
    width: 165px;
    height: 40px;
    border: none;
    border-radius: 2rem;
    font-family: var(--heading-font);
}

.buttonContato{
    width: 165px;
    height: 40px;
    border: 2px solid var(--StrongCyan);
    border-radius: 2rem;
    font-family: var(--heading-font);
}