.title1{
    font-family: var(--heading-font);
    font-size: 44px;
    list-style: 32px;
    font-weight: 600;
    border-bottom: 4px solid var(--Cyan-write);
}

.title2{
    font-family: var(--heading-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
}

.title3{
    font-family: var(--heading-font);
    font-size: 32px;
    font-weight: 500;
    line-height: 25px;
}

.title4{
    font-family: var(--heading-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 22px;
}

.paragraphy{
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    font-family: var(--heading-font);
}