section {
    width: 80%;
    margin: 0 auto;
    .img {
        display: flex;
        width: 100%;
        
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        img {
            margin-right: 60px;
            transition: 0.3s; 
            transition-timing-function: cubic-bezier(0.42, 0, 0.32, 0.64);
        }
    }
}