section{
    width: 100%;
    
    .divContainerAbouMe{
        width: 100%;
        height: 700px;
        
        @media (max-width: 320px) {
            height: auto;
            margin-bottom: 150px;
        }

        @media (max-width: 375px) {
            height: auto;
            margin-bottom: 150px;
        }

        @media (max-width: 425px) {
            height: auto;
            margin-bottom: 150px;
        }

        @media (max-width: 768px) {
            height: auto;
            margin-bottom: 150px;
        }
        
        .aboutMe{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            
            h2{
                font-family: var(--heading-font);
                color: var(--theme-text);
                font-size: 32px;
                margin-bottom: 40px;
                margin-top: 60px;

                @media (max-width: 320px) {
                    margin-top: 150px;
                }

                @media (max-width: 375px) {
                    margin-top: 150px;
                }
        
                @media (max-width: 425px) {

                    margin-top: 150px;
                }
        
                @media (max-width: 768px) {

                    margin-top: 150px;
                }
            }
            
            #paragraphy{
                color: var(--Cyan-write);
                width: 65%;
                text-align: center;

                @media (max-width: 320px) {
                    width: 100%;
                    font-size: 16px;
                }

                @media (max-width: 375px) {
                    width: 100%;
                    font-size: 17px;
                }
        
                @media (max-width: 425px) {
                    width: 100%;
                    font-size: 18px;
                }
        
                @media (max-width: 768px) {
                    width: 100%;
                    font-size: 19px;
                }
            }
            
            
        }

        .linha{
            width: 33%;
            margin: 0 auto;
            height: 2px;
            background: var(--LightCyan);
            margin-top: 10px;
        }
        
        .divLocals{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            gap: 15px;

            @media (max-width: 320px) {
                width: 90%;
                margin: 0 auto;
            }
    
            @media (max-width: 375px) {
                width: 90%;
                margin: 0 auto;
            }
    
            @media (max-width: 425px) {
                width: 90%;
                margin: 0 auto;
            }
    
            @media (max-width: 768px) {
                width: 90%;
                margin: 0 auto;
            }
            
            
            .locals{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                @media (max-width: 320px) {
                    width: 90%;
                    margin: 0 auto;
                }

                @media (max-width: 375px) {
                    width: 90%;
                    margin: 0 auto;
                }
        
                @media (max-width: 425px) {
                    width: 90%;
                    margin: 0 auto;
                }
        
                @media (max-width: 768px) {
                    width: 90%;
                    margin: 0 auto;
                }

                .iconLocal{
                    width: 30px;
                    height: 30px;
                    color: var(--White-write);

                    @media (max-width: 320px) {
                        margin-top: 60px;
                    }

                    @media (max-width: 375px) {
                        margin-top: 60px;
                    }
            
                    @media (max-width: 425px) {
                        margin-top: 60px;
                    }
            
                    @media (max-width: 768px) {
                        margin-top: 40px;
                    }
                }
                
                h2{
                    font-family: var(--heading-font);
                    color: var(--Cyan-write);

                    @media (max-width: 320px) {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 300;
                    }

                    @media (max-width: 375px) {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 300;
                        margin-top: 60px;
                    }
            
                    @media (max-width: 425px) {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 300;
                    }
            
                    @media (max-width: 768px) {
                        width: 100%;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
                
            }
            
            #paragraphy{
                font-family: var(--heading-font);
                color: var(--Cyan-write);

                @media (max-width: 320px) {
                    width: 90%;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                }

                @media (max-width: 375px) {
                    width: 90%;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: center;
                }
        
                @media (max-width: 425px) {
                    width: 90%;
                    font-size: 19px;
                    font-weight: 500;
                    text-align: center;
                    text-align: center;
                }
        
                @media (max-width: 768px) {
                    width: 90%;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
}
